
.playing{
  width: 360;
  height: 617;
  position: absolute;
}

#startImg{
  top: 0;
  left: 0;
  width: 360;
  height: 617;
  position: absolute;
  background-image:url("images/startimg.png");
}

#pause{
  width:220px;
  height:180px;
    background:url(dialog.png);
    background-size:100% 100%;
    display: none;
    position: absolute;
    left: 60px;
    top: 230px;
}

#wannaout{
  width:100px;
  height:80px;
    display: none;
    position: absolute;
    left: 60px;
    top: 0px;
}
#startMan{
  width: 80;
  height: 95;
  top: 80;
  left: 200;
  position: absolute;
  background-image: url("images/role.png");
}

#optionImg{
  width: 66;
  height: 70;
  top: 500;
  left: 200;
  position: absolute;
  background-image: url("images/setting_button.png");
}

#shopImg{
  width: 66;
  height: 70;
  top: 500;
  left: 270;
  position: absolute;
  background-image: url("images/shop_button.png");
}

#innergame{
  opacity: 0;
}
#innergame.cameout{
  opacity:1;
  -webkit-transition:opacity .5s linear;
  transition:opacity .5s linear;
}
#innergame.fadeout{
  opacity:0;
  -webkit-transition:opacity .5s linear;
  transition:opacity .5s linear;
}

#ranking{
	width:100%;
	text-align: center;	
	color:#5F9F9F;
	font-weight:bold;
}



#hit{
	width:220px;
	height:180px;
    background:url(dialog.png);
    background-size:100% 100%;
    display: none;
    position: absolute;
    left: 60px;
    top: 230px;
}

.input1{
	width:68px;
  	  height:50px;
   	 border-style: none;
     border-color: inherit; 
   	 border-width: 0;
	position: absolute;
    left: 20px;
    top: hit.top-input1.height;
	background:url("images/button_normal.png");
	    background-size:200% 100%;
}

.input2{
	width:68px;
  	  height:50px;
   	 border-style: none;
     border-color: inherit; 
   	 border-width: 0;
	position: absolute;
    left: 115px;
    top: hit.top-input2.height;
	background:url("images/button_normal.png");
    background-size:200% 100%;
}


#score{
	text-align:center;
	tex
	width:300px;
	height:450px;
    background:url(dialog.png);
    background-size:100% 100%;
}


#animation{
	
}

#shieldicon{
  width: 53;
  height: 53;
  background-image: url("images/shield_icon.png");
}

#harmlessicon{
  width: 53;
  height: 53;
  background-image: url("images/harmless_icon.png");
}

#shieldBar{
  top: 0;
  left: 54;
  position: relative;
}

#harmlessBar{
  top: 0;
  left: 54;
  position: relative;
}
