
canvas{
  width: 360;
  height: 640;
  position: absolute;
}

#innergame{
  opacity: 0;
}
#innergame.cameout{
  opacity:1;
  -webkit-transition:opacity .5s linear;
  transition:opacity .5s linear;
}
#innergame.fadeout{
  opacity:0;
  -webkit-transition:opacity .5s linear;
  transition:opacity .5s linear;
}

#ranking{
	width:100%;
	text-align: center;
	color:blue;
}



#hit{
	width:220px;
	height:180px;
    background:url(dialog.png);
    background-size:100% 100%;
    display: none;
    position: absolute;
    left: 60px;
    top: 260px;
}

.input1{
	width:68px;
  	  height:25px;
   	 border-style: none;
     border-color: inherit; 
   	 border-width: 0;
	position: absolute;
    left: 20px;
    top: hit.top-input1.height;
	background:url("images/button_normal.png");
	
}

.input2{
	width:68px;
  	  height:25px;
   	 border-style: none;
     border-color: inherit; 
   	 border-width: 0;
	position: absolute;
    left: 115px;
    top: hit.top-input2.height;
	background:url("images/button_normal.png");
}


#score{
	text-align:center;
	tex
	width:300px;
	height:500px;
    background:url(dialog.png);
    background-size:100% 100%;
}


#animation{
	
}
