canvas{
	width: 360;
	height: 600;
	position: absolute;
}

#innergame{
	opacity: 0;
}
#innergame.cameout{
	opacity:1;
	-webkit-transition:opacity .5s linear;
	transition:opacity .5s linear;
}
#innergame.fadeout{
	opacity:0;
	-webkit-transition:opacity .5s linear;
	transition:opacity .5s linear;
}